<!DOCTYPE html>
<html lang="en" style="background-color: black">

<head>
  <%- include("/partials/header") -%>
</head>

<body>
  <div class="main-container" id="gesture-element">

    <%- include("/partials/aside") -%>

      <div class="main-content">

        <section class="blank section back-section">
        </section>
        ,
        <%- include("/sections/andras") -%>
          <%- include("/sections/home") -%>
            <%- include("/sections/about") -%>
              <%- include("/sections/expertise") -%>
                <%- include("/sections/projects") -%>
                  <%- include("/sections/contact") -%>
                    <%- include("/projects/applied") -%>
                      <%- include("/projects/frost") -%>
                        <%- include("/projects/usapp") -%>
                          <%- include("/projects/reduxcalculator") -%>
                            <%- include("/projects/portfolio") -%>
                              <%- include("/projects/portfolioreadmore") -%>
                                <%- include("/projects/crud") -%>
                                  <%- include("/projects/secrets") -%>
                                    <%- include("/projects/todo") -%>
                                      <%- include("/projects/weatherapi") -%>
                                        <%- include("/projects/nextproject") -%>
                                          <section class="blank section">
                                          </section>

      </div>
  </div>
  <%- include("/partials/cvmodal") -%>

    <%- include("/partials/styleswitcher") -%>
      <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            // This path is correct if your sw.js is in 'public/sw.js' and Netlify publish directory is 'public'.
            navigator.serviceWorker.register('/sw.js')
              .then(registration => {
                console.log('⚒️ Service Worker registered with scope:', registration.scope);
              })
              .catch(error => {
                console.log('❌ Service Worker registration failed:', error);
              });
          });
        }
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
        referrerpolicy="no-referrer"></script>
      <script src="public/js/script.js"></script>
</body>

</html>